.nav {
  backdrop-filter: blur(20px);
  background-color: transparent;
}

.block1 {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  background-size: cover;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.block1 .bigTitle {
  margin-top: 260px;
  width: 72%;
  height: auto;
}

.block1 .motion {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.block1 .bar {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  margin-top: 150px;
}

.block1 .bar .title {
  width: 28%;
  height: auto;
  background-color: rgba(155,155,155, 0.2);
  border: 1px solid #FFFFFF80;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}
.block1 .bar .img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
.block1 .title>span {
  font-family: Arial Rounded MT Bold;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFF;  
}

.block1 .bottom {
  width: 80%;
  height: auto;
}

.block2 {
  min-height: 100vh;
  width: 100%;
  background:
  url('/home/block2_bg1.png') -700px 50% / 1200px auto no-repeat,
  url('/home/block2_bg2.png') 130% -100px / 700px auto no-repeat;
}

.block2 .scroll {
  margin-top: 120px;
  margin-bottom: 120px;
  width: 100%;
}

.block2 .item {
  background-color: rgba(155,155,155, 0.2);
  color: #fff;
  border: 1px solid rgba(255,255,255, 0.6);
  border-radius: 20px;
  min-width: 120px;
  padding: 8px 16px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 10px;
}

.block2 .item span {
  margin-left: 8px;
  color: #fff;
  font-size: 16px;
}

.block2 .spannel {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 160px;
  margin-top: 60px;
  background:
    url('/home/block2_pannel_center.png') center center / 182px 218px no-repeat,
    url('/home/block2_pannel_tl.png') left 20px / 55% auto no-repeat,
    url('/home/block2_pannel_tr.png') right top / 45% auto no-repeat,
    url('/home/block2_pannel_bl.png') left calc(100% + 40px) / 45% auto no-repeat,
    url('/home/block2_pannel_br.png') right calc(100% - 20px) / 55% auto no-repeat,
    url('/home/block2_pannel_s.png') center center / calc(100% - 40px) calc(100% - 40px) no-repeat;
}

.block2 .spannel .toptitle {
  font-family: Helvetica Neue;
  font-size: 42px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: 0em;
  text-align: left;
  padding: 30px 20px;
}

.block2 .spannel .bottomtitle {
  font-family: Helvetica Neue;
  font-size: 42px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: 0em;
  text-align: right;
  padding: 30px 20px;
}

.block2 .spannel p {
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #125136;
  width: 50%;
  padding: 60px 20px;
  transition: all .3s ease-in-out;

}

.block2 .spannel p:hover {
  color: #1b7b52;
}


.block2 .spannel .leftinfo {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 120px;
}

.block2 .spannel .rightinfo {
  margin-left: 50%;
  text-align: right;
}

.title {
  text-align: center;
  font-family: "Source Han Sans CN-Bold", Helvetica;
  font-size: 52px;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
  color: #00E000;
}

.block2>.content {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 50px auto;
  color: #FFF;
  font-family: Source Han Sans CN;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.block3 {
  margin-top: 100px;
  min-height: 100vh;
}

.block3>.content {
  width: 1000px;
  background-position: center;
  border-radius: 12px;
  margin: 60px auto;
}

.block3>.content>p {
  padding: 50px;
  max-width: 50%;
  line-height: 32px;
}

.block3 .info {
  margin: auto;
  max-width: 1000px;
  color: #0D3C11;
  text-align: center;
  line-height: 28px;
  transition: all .3s ease-in-out;
}

.block3 .info:hover {
  color: #16661D;

}

.block3 .bottom {
  margin: 20px auto;
  max-width: 750px;
  color: #FF0D79;
  text-align: center;
  line-height: 28px;
  background:
    url('/home/block3_flag.png') left center / 50px 20px no-repeat,
    url('/home/block3_flag.png') right center / 50px 20px no-repeat;

}

.block4 {
  padding: 0px;
}

.block4>.content {
  width: 100vw;
  min-height: 76vh;
  margin: 50px auto;
  background:
    url('/home/block4_left.png') left top / 55% 100% no-repeat,
    url('/home/block4_bottom.png') right bottom / 55% auto no-repeat;
  display: flex;
  justify-content: flex-end;
}

.block4>.content>.info {
  width: 45%;
  color: #271F71;
  /* padding: 20px;
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left; */
  width: 45%;
  height: 30%;
  margin-right: 30px;
  opacity: 0.9;
  transition: all .3s ease-in-out;
}

.block4>.content>.info:hover {
  opacity: 1.3;

}

.block5 {
  min-height: 60vh;
  padding: 10px;
  background:
    linear-gradient(rgba(5, 4, 11, 0.9) 0%, rgba(5, 4, 11, 1) 100%),
    url(/home/block5_bg.png) no-repeat;
  background-position: top;
}



.block5>.title {
  margin-bottom: 30px;
}

.block5 .computer {
  margin: auto;
  max-width: 1000px;
  position: relative;
}

.block5 .computer .double {
  margin-top: 60px;
  max-width: 900px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.block5 .computer .left {
  position: absolute;
  bottom: -20px;
  width: 25%;
  height: auto;
  z-index: 999;
}

.block5 .computer .right {
  width: 21%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  z-index: 999;
}

.block5 .computer .center {
  width: 35%;
  position: absolute;
  bottom: -650px;
  left: 31%;
  height: auto;
  z-index: 999;
}

.block5 .main {
  margin: auto;
  position: relative;
  overflow: visible;
  width: 1000px;
}

.block5 .main .big {
  margin: auto;
  max-width: 1000px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.block5 .main .container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  z-index: 999999;
}

.block5 .main .container .item {
  flex: 1;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Source Han Sans CN;
  padding: 80px 30px;
}

.block5 .main .container .item:nth-child(1) {
  color: #FF91E6;
}

.block5 .main .container .item:nth-child(2) {
  color: #10C3FE;
  align-self: flex-end;
}

.block5 .main .container .item:nth-child(3) {
  color: #00ED06;
}

.block5 .pannel {
  margin: auto;
  position: relative;
  overflow: visible;
  width: 1000px;
  margin-top: 100px;
}

.block5 .pannel .big {
  width: 90%;
  height: auto;
}

.block5 .pannel .info {
  width: 80%;
  height: auto;
  position: absolute;
  left: 5%;
  top: 5%;
}

.block5 .pannel .title {
  width: 90%;
  height: auto;
  position: absolute;
  right: 10px;
  bottom: 36%;
}

.block5 .pannel .bottom {
  width: 20%;
  height: auto;
  position: absolute;
  right: 80px;
  bottom: -10px;
}


.block6 {
  min-height: 100vh;
  text-align: center;
}


.block6>.title {
  margin: 100px auto 30px auto;
}


.block6 .main {
  width: 1000px;
  margin: auto;
}

.block6 .main img {
  width: 100%;
  height: auto;
}


.block7 .main {
  display: flex;
  width: 1000px;
  margin: auto;
  margin-top: 60px;

}

.block7 .main .item {
  flex: 1;
  background-color: #0C0B1C;
  padding: 30px 40px;
}

.block7 .main .item h3 {
  font-family: Helvetica Neue;
  font-size: 28px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #0D4093;
  margin-bottom: 20px;
}

.block7 .main .item p {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #082253;
  transition: all .3s ease-in-out;
}

.block7 .main .item p:hover {
  color: #0c3582;
}


.block7 .main .item:nth-child(1) {
  border-top: 10px solid #0C0B1C;
  border-bottom: 10px solid #F6065B;
  margin-right: 20px;
  border-top-right-radius: 80px;
}

.block7 .main .item:nth-child(2) {
  border-top: 10px solid #054DF0;
  border-bottom: 10px solid #0C0B1C;
  margin-left: 20px;
  border-bottom-right-radius: 80px;

}

.bottom img {
  width: 100%;
  height: auto;
  margin-top: 160px;
}