
.zero {
  text-align: center;
}
.zero_title {
  width: 78%;
}
.zero_pc {
  width: 90%;
  margin-top: 2rem;
}
.zero_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
  padding-bottom: 8.5rem;
  background: url('/mobile/img-zero-bg.png') no-repeat center bottom;
  background-size: 100% auto;
}
.zero_list_item {
  width: 40%;
  height: 8.5rem;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(160, 198, 255, 0.10);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.zero_list_item:nth-child(even) {
  margin-left: 4%;
}
.zero_list_item_icon {
  height: 1.6rem;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
}
.zero_list_item_text {
  color: #fff;
  opacity: 0.8;
  font-size: 0.75rem;
  text-align: center;
  padding: 0 1rem;
}
