.toolBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.86rem;
}
.headerLogo {
  width: 5.7rem;
  height: 0.6rem;
  padding: 0 !important;
  padding-right: 0 !important;
}
.headerBtn {
  color: #fff;
  font-family: "Arial Rounded MT Bold";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.firstContent {
  padding-top: 6.94rem;
  background: url("/mobile/boomer.gif") no-repeat;
  background-size: 59rem 37rem;
  background-position: 0rem 0rem;
  padding-bottom: 2.7rem;
}
.bannerContent {
  width: 17.60463rem;
  /* height: 2.67444rem; */
  margin: 0 auto;
}
.bannerContentImg {
  width: 17.60463rem;
  /* height: 2.67rem; */
}
.btnsContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  margin-top: 7.47rem;
  margin-bottom: 4.07rem;
}
.btnContent {
  width: 5.51913rem;
  height: 3.01044rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnContentImg {
  width: 1.10381rem;
  height: 1.10381rem;
}
.btnContentText {
  color: #fff;
  font-family: "Arial Rounded MT Bold";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.textLogo {
  display: block;
  width: 21.5625rem;
  height: 4.71225rem;
  margin: 0 auto;
}
.scrollitem {
  padding: 0 1.49rem;
  height: 2.2545rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #fff;
  border-radius: 2.5rem;
  margin: 0.6rem 0.3rem;
}
.scrollitem img {
  width: 1.5rem;
}
.scrollitem span {
  color: #fff;
  font-family: "Source Han Sans CN";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  margin-left: 0.6rem;
  text-transform: uppercase;
}
.title {
  color: #fff;
  font-family: "Arial Black";
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.5rem; /* 117.647% */
  margin-top: 4.45rem;
  margin-left: 1.97rem;
  margin-bottom: 0.96rem;
}
.title1 {
  color: #fff;
  font-family: "Arial Black";
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.5rem; /* 117.647% */
  margin: 0 auto;
  margin-top: 4.45rem;
  margin-bottom: 0.96rem;
  width: 18.6875rem;
}
.textContent {
  margin-left: 1.97rem;
  color: #fff;
  font-family: Arvo;
  line-height: 180%;
  font-size: 0.875rem;
}
.textContent1 {
  margin: 0 auto;
  color: #fff;
  font-family: Arvo;
  line-height: 180%;
  font-size: 0.875rem;
  width: 18.268rem;
}
.rat {
  width: 12.73681rem;
  height: 18.42119rem;
  display: block;
  margin: 0 auto;
  margin-top: 2.81rem;
}
.quotaImg {
  width: 1.18rem;
  height: 0.76rem;
  margin-right: 0.5rem;
}
.quotaImg1 {
  width: 1.18rem;
  height: 0.76rem;
  margin-left: 0.5rem;
  margin-top: 10rem;
}
.textContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.62rem;
  margin-top: 3.04rem;
}
.textContent3 {
  text-align: center;
  color: #fff;
  font-family: Arvo;
  line-height: 180%;
  font-size: 0.875rem;
  width: 16.56694rem;
}
.title3 {
  color: #01f403;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: "Arial Black";
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 150%; /* 1.5rem */
  width: 18.99544rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.29rem;
  margin-bottom: 3.16rem;
}
.arrow1 {
  text-align: center;
}
.item1 {
  text-align: center;
}
.arrowImg {
  width: 1.65388rem;
  height: auto;
  margin: 1.12rem 0;
}
.itemImg {
  width: 13.69169rem;
  height: 10.7065rem;
}
